/* COMMANDS
=======================*/
.header1,
.header2,
.header3 {
  line-height: var(--lineheight);
  font-weight: 700;
}

.header1 {
  font-size: 2em;
}

.header2 {
  font-size: 1.625em;
}

.header3 {
  font-size: 1.25em;
}

.bold {
  line-height: var(--lineheight);
  font-weight: 700 !important;
}

.fake-br {
  display:block;
  border: none;
  height: var(--lineheight) !important;
}

.link {
  color: var(--primarylight1);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.image {
  max-width: 100%;
  height: auto;
}

.pre {
  box-shadow: var(--box-shadow-md);
  border-radius: 4px;
  font-size: 0.875em;
  height: var(--lineheight);
  margin: 0;
  padding: 0px 4px;
  overflow:hidden;
  white-space:pre-wrap;
}

.pre::-webkit-scrollbar {
  height: 12px;
}

.code {
  background: var(--black2);
  padding: 0 4px;
  padding: 0;
  margin: 0;
  line-height: var(--lineheight);
  color: var(--mdgrey1);
}

.blockquote {
  background-color: var(--black2);
  border-left: 4px solid var(--mdgrey2);
  border-radius: 4px;
  font-size: 0.875em;
  font-weight: 500;
  position: relative;
  padding: 0 4px;
  width: auto;
}

.unordered-list {
  list-style-type: none;
  background: var(--black2);
  padding: 0 8px;
  position: relative;
}

/* use pseudo for list-style-top because firefox is dumb sometimes even though mozilla is basically funded by google aka chromium */
.unordered-list::before {
  content: "• ";
}