.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow-header);
  position: relative;
  z-index: 8;
}

.header-col-1,
.header-col-2 {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* COLUMN ONE
====================*/
.header-col-1 {
  column-gap: 6px;
  padding-left: 12px;
}

.header-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  height: 40px;
  align-items: center;
  text-decoration: none;
  color: var(--primarylight1) !important;
  padding-top: 4px;
  border-bottom: 2px solid transparent;
}

.header-title:focus-visible,
.header-title:hover {
  border-bottom: 2px solid var(--primarylight1);
}

/* rotate layout change svg */
.layout-horiz {
  transform: rotate(90deg);
}

/* ICONS RIGHT
====================*/
.header-col-2 {
  justify-content: flex-end;
  padding-right: 4px;
  height: 100%;
}

.save-markdown svg,
.upload-markdown svg {
  fill: var(--primarylight1);
}


/* QUERIES
====================*/
@media screen and (max-width: 340px) {
  .header-title {
    display: none;
  }
}