.header {
  height: var(--headerHeight);
  z-index: var(--z-header);
  background: var(--black1);
  box-shadow: var(--box-shadow-h);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-col-1 {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* COLUMN ONE
====================*/
.header-col-1 {
  column-gap: 16px;
  padding-left: 12px;
}

.header-title {
  font-size: 0.825em;
  font-weight: 700;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--primarylight2) !important;
  padding-top: 4px;
  border-bottom: 2px solid transparent;
}

.header-title:focus-visible,
.header-title:hover {
  border-bottom: 2px solid var(--primarylight2);
}

/* rotate svg */
.layout-horiz {
  transform: rotate(90deg);
}

/* QUERIES
====================*/
@media screen and (max-width: 340px) {
  /* .header-title {
    display: none;
  } */
}