.header1,
.header2,
.header3 {
  line-height: 1.4;
  font-weight: 700;
}

.header1 {
  font-size: 32px;
}

.header2 {
  font-size: 26px;
}

.header3 {
  font-size: 20px;
}

.bold {
  font-weight: 700 !important;
}

.hr {
  border: none;
  border-top: 1px solid var(--mdgrey2);
  margin: 1em 0;
}

.link {
  color: var(--primarylight1);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.image {
  max-width: 100%;
  height: auto;
}

.pre {
  border: 1px solid var(--black2);
  box-shadow: var(--box-shadow-md);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  padding: 1em;
  overflow:hidden;
  white-space:pre-wrap;
}

.pre::-webkit-scrollbar {
  height: 15px;
}

.code {
  font-family: monospace;
  background: var(--black2);
  padding: 4px;
  color: var(--mdgrey1);
}

.blockquote {
  background-color: var(--black2);
  border-left: 4px solid var(--mdgrey2);
  border-radius: 4px;
  margin: 14px 0;
  font-size: 16px;
  padding: 12px 24px;
  position: relative;
  font-family: var(--primaryFont) !important;
  font-weight: 400 !important;
  width: auto;
}

.blockquote::before {
  /* "\201C" === quotation mark */
  content: "\201C";
  font-size: 2.4em;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0.5em;
  color: var(--white1);
}

.unordered-list {
  list-style-type: disc;
  background: var(--black2);
  padding: 2px 8px;
}