.markdown-container {
  height: calc(100vh - 68px);
  max-height: calc(100vh - 68px);
  margin-top: 4px;
  width: 100%;
  z-index: 1;
}

.split {
  display:flex;
  width: 100%;
  height: 100%;
}

.horiz {flex-direction: row;}
.vert {flex-direction: column;}

.gutter {
  background: var(--black2);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.split.horiz .gutter {
  width: 10px !important;
  height: 100% !important;
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.split.vert .gutter {
  width: 100% !important;
  height: 10px !important;
  cursor: row-resize;
}

/* INPUT/OUTPUT CONTAINER
====================*/

.markdown-input,
.output-wrapper {
  font-size: 16px;
  padding: 12px;
  line-height: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap:break-word;
  width: 100%;
  height: 100%;
  color: var(--white1) !important;
}
.input-wrapper {
  height: 100%;
  width: 100%;
}

/* INPUT
====================*/
.markdown-input {
  font-family: monospace !important;
  resize: none;
  background-color: var(--black1);
  background-image: none;
  transition: border-color ease-in-out 0.15s;
}

.markdown-input::placeholder {
  color: var(--mdgrey2);
}

.markdown-input:focus {
  outline: none;
  border-color: var(--mdgrey2);
}

.markdown-input::-webkit-scrollbar-track {
  background: transparent;
}

.markdown-input::-webkit-scrollbar-thumb {
  border: 4px solid var(--black1);
}

.markdown-input::-webkit-resizer {
  display: none;
}

/* OUTPUT
====================*/
.output-wrapper {
  width: 100%;
  height: 100%;
  background: var(--black0);
  background-image: none;
}