.sidebar {
  width: 440px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100vh - 62px);
  background: var(--black1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  overflow: hidden;
  transform: translateX(0px);
  transition: transform 150ms ease-in-out;
}

.show-sidebar {
  transform: translateX(0px);
  box-shadow:
    0px 4px 6px 0px rgba(0, 0, 0, 0.4),
    0px 8px 10px 4px rgba(0, 0, 0, 0.2);
}

.hide-sidebar {
  transform: translateX(-440px);
  box-shadow: none !important;
  user-select: none;
}

/* HEADER
====================*/
.sidebar-header {
  height: 64px;
  padding-top: 12px;
  text-align: center;
  width: 100%;
}

.sidebar-header h1 {
  width: 220px;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primarylight1) !important;
  background: var(--black2);
  padding: 4px 8px;
}

.sidebar-header p {
  font-size: 13px;
}

/* BODY
====================*/
.sidebar-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 8px 16px 0 24px;
  color: var(--white1);
}

.example {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.example-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-example {
  background: var(--black2);
  padding: 2px 8px;
}

.fake-img-title {
  line-height: 48px;
}

.fake-img {
  height: 42px;
  width: 42px;
  border-radius: 21px;
  font-family: monospace !important;
  background: var(--mdgrey2);
  color: var(--black1);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockquote-title {
  line-height: 68px;
}

.example__wrapper {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-break1 {
  width: 8%;
  height: 36px;
  line-height: 48px;
  border-bottom: 2px solid var(--mdgrey2);
}

.example-break {
  width: 50%;
  height: 36px;
  line-height: 48px;
  border-bottom: 2px solid var(--mdgrey2);
}

/* FOOTER
====================*/
.sidebar-footer {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-top: auto;
}

.sidebar-footer p {
  color: var(--mdgrey1);
  font-size: 12px;
  letter-spacing: 1.2px;
}

.git-link {
  height: 28px;
  width: 28px;
}


@media screen and (max-width: 440px) {
  .sidebar {
    width: 100%;
  }

  .hide-sidebar {
    transform: translateX(-100%);
  }
}