/* template by https://github.com/chaseottofy */

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'),
}

/* roboto-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto-mono-v22-latin-500.woff2') format('woff2'),
}

/* roboto-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-mono-v22-latin-700.woff2') format('woff2'),
}

/* color injected via theme__classes in document root */
:root {
  /* font */
  --primaryFont: "Roboto Mono", monospace;

  --green1: #00a000;
  /* values important for calculations */
  --headerHeight: 52px;
  --headerOffset: 0px;
  --footerHeight: 20px;
  --lineheight: 20px;
  --letterspacing: -0.5px;
  --numberswidth: 28px;

  /* box-shadow */
  --box-shadow-md:
    rgba(0, 0, 0, 0.2) 1px 2px 6px 1px,
    rgba(0, 0, 0, 0.3) 0 3px 5px 0;
  --box-shadow-xl:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  --box-shadow-header:
    rgba(0, 0, 0, .4) 4px 0px 6px 0px,
    rgba(0, 0, 0, .2) 8px 0px 10px 4px;
  --box-shadow-sidebar:
    rgba(0, 0, 0, 0.4) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.2) 0px 8px 10px 4px;
}

/* themes
====================*/
.theme__dark {
  --white1: #d8f3f5;
  --white2: #e9f1f8;
  --black0: #0e1011;
  --black1: #111314;
  --black2: #1c1e1f;
  --black3: rgba(28, 30, 31, 0.8);
  --mdgrey1: #a2c0dc;
  --mdgrey2: #95a0a5;
  --darkgrey1: #1c1e1f;
  --primary1: #2874ae;
  --primary2: #1666a2;
  --primary3: #1656ae;
  --primarylight1: #44adfd;
  --primarylight2: #44adfd;
  --overlaylg: rgba(0, 0, 0, .5);
  --overlaymd: rgba(0, 0, 0, .3);
  --overlaysm: rgba(0, 0, 0, 0.2);
  --tooltipbg: rgb(43, 44, 44);
  --tooltipcolor: #e4ffff;
  --scrollthumb: #484e51;
  --scrollthumbhover: #505659;
}

.theme__medium {
  --white1: #c7ffff;
  --white2: #a1d4d4;
  --black0: #0f1112;
  --black1: #1e2326;
  --black2: #2a3033;
  --black3: rgba(42, 48, 51, 0.8);
  --mdgrey1: #a2c0dc;
  --mdgrey2: #95a0a5;
  --darkgrey1: #1c1e1f;
  --primary1: #76feff;
  --primary2: #00C3C3;
  --primary3: #111414;
  --primarylight1: #25FFFF;
  --primarylight2: #25FFFF;
  --overlaylg: rgba(0, 0, 0, 0.7);
  --overlaymd: rgba(0, 0, 0, 0.6);
  --overlaysm: rgba(0, 0, 0, 0.2);
  --tooltipbg: #3d3e3e;
  --tooltipcolor: #e6ffff;
  --scrollthumb: #484e51;
  --scrollthumbhover: #505659;
}

.theme__light {
  --white1: #3c4043;
  --white2: #384046;
  --black0: #f2f5f8;
  --black1: #eff3f7;
  --black2: #d0def1;
  --black3: #d7e1ee;
  --mdgrey1: #3c4043;
  --mdgrey2: #3c4043;
  --darkgrey1: #3c4043;
  --primary1: #5693e8;
  --primary2: #5693e8;
  --primary3: #1656ae;
  --primarylight1: #111314;
  --primarylight2: #3c4043;
  --overlaylg: rgba(0, 0, 0, 0.7);
  --overlaymd: rgba(86, 88, 88, 0.6);
  --overlaysm: rgba(0, 0, 0, 0.2);
  --tooltipbg: #303030;
  --tooltipcolor: #fff;
  --scrollthumb: #778085;
  --scrollthumbhover: #666d71;
}


/* base reset
====================*/
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
form,
input,
textarea,
p {
  padding: 0;
  vertical-align: baseline;
  margin: 0;
  border: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: var(--primaryFont) !important;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--primaryFont);
  font-weight: 400;
}

body {
  background: var(--black1);
  color: var(--white1);
  line-height: inherit;
  font-family: var(--primaryFont) !important;
  overflow: hidden;
  height: 100vh;
}

/* button/select reset
====================*/
button,
select {
  text-transform: none;
  border: none;
  outline: none;
  background: none;
  color: var(--white1);
}

button:focus-visible,
select:focus-visible {
  transition: 150ms ease-out;
}

/* input/textarea reset
=======================*/
textarea:focus {
  outline: none;
  border-color: var(--mdgrey2);
}

textarea::-webkit-resizer {
  display: none;
}

textarea::-webkit-scrollbar-thumb {
  border: 4px solid var(--black1);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

/* table elements
====================*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: var(--black0);
}

tr {
  height: 72px;
  border-bottom: 1px solid var(--darkgrey1);
  display: flex;
  justify-content: space-between;
}

tr:last-child {
  border-bottom: 1px solid transparent;
}

thead tr:first-child {
  height: 48px;
  text-align: left;
}

th {
  font-weight: 700;
  font-size: 16px;
  color: var(--white1);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--darkgrey1);
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin-top: auto;
  padding-left: 8px;
}

td {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

td:first-child {
  border-right: 1px solid var(--darkgrey1);
}

ul {
  list-style: none;
}

a {
  outline: 0;
  color: var(--primarylight2);
}

a img,
:link img,
:visited img,
fieldset {
  border: none
}

[disabled] {
  /* use for focusable elements that are not currently on screen */
  /* pair with aria-disabled=true */
  display: none !important;
}

svg {
  user-select: none;
  pointer-events: none;
  height: 20px;
  width: 20px;
  fill: var(--mdgrey1);
}

/* scrollbar
====================*/
::-webkit-scrollbar {
  width: 15px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollthumb);
  border: 2px solid var(--black1);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollthumbhover);
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* resusable classes
==================================================== */

/* flex
====================*/
.flx-center-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-center-x {
  display: flex;
  justify-content: center;
}

/* alignment
====================*/
.center-text {
  text-align: center;
}

.center-el {
  margin: 0 auto;
}

/* pad/margin
====================*/
.padding-sm {
  padding: 4px;
}

.margin-t {
  margin-top: 4px;
}

/* Buttons / Select
====================*/
.btn-primary,
.select-primary,
.btn-dark,
.select-dark,
.input-dark {
  color: var(--white1);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
  outline: 1px solid transparent;
  transition: all 200ms ease-in-out;
}

.btn-primary,
.select-primary {
  background: var(--primary1);
  border: 1px solid var(--black2);
}

.btn-dark,
.select-dark,
.input-dark {
  background: var(--black1);
  border: 1px solid var(--black2);
}

.btn-primary:hover,
.select-primary:hover {
  background: var(--primary1);
  border: 1px solid var(--primarylight2);
}

.btn-dark:hover,
.select-dark:hover {
  background: var(--black0);
  border: 1px solid var(--primary1);
}

.btn-primary:active,
.select-primary:active,
.btn-dark:active,
.select-dark:active,
.input-dark:active,
.btn-svgpair:active {
  outline: 4px solid var(--black2);
  filter: brightness(0.8);
}

/* <button>  >>  <svg> */
.btn-svgpair {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  outline: 1px solid transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
}

.btn-svgpair:focus-visible {
  background: var(--black2);
}

.btn-svgpair:focus-visible svg {
  fill: var(--primarylight2);
}

.btn-svgpair:hover svg {
  fill: var(--primarylight1);
}

.btn-svgpair:hover {
  background: var(--black2);
}

/* Textarea
====================*/
.resizer-1::-webkit-resizer {
  /* make resizer grey and solid */
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--mdgrey2) var(--mdgrey2) transparent;
}

/* Overlay
====================*/
.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}


/* Useful on load for some cases
=================================*/
.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.disable-transitions * {
  -webkit-transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
  transition: none !important;
}

/* Testing
====================*/
.debug {
  border: 1px solid red !important;
}