/* template by otto */
@font-face {
  font-family: Optimistic Display;
  src: url('./assets/fonts/Optimistic_Display_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Optimistic Display;
  src: url('./assets/fonts/Optimistic_Display_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./assets/fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular') url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
  /* color injected via theme__ classes in document root */
  /* font */
  --primaryFont: "Roboto", sans-serif;
  --secondaryFont: Optimistic Display, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

  /* webkit */
  --scrollerThumbBackground: #484e51;
  --scrollerThumbBorder: 4px solid var(--black1);
  --scrollerThumbBackgroundHover: #505659;
  --scrollerTrackBackground: var(--black1);

  /* box-shadow */
  --box-shadow-md:
    rgba(0, 0, 0, 0.2) 1px 2px 6px 1px,
    rgba(0, 0, 0, 0.3) 0 3px 5px 0;
  --box-shadow-xl:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  --box-shadow-header:
    rgba(0, 0, 0, .4) 4px 0px 6px 0px,
    rgba(0, 0, 0, .2) 8px 0px 10px 4px;
  --box-shadow-sidebar:
    rgba(0, 0, 0, 0.4) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.2) 0px 8px 10px 4px;
}

/* themes
====================*/
.theme__dark {
  --white1: #d8f3f5;
  --white2: #fafafa;
  --black0: #0f1112;
  --black1: #111314;
  --black2: #1c1e1f;
  --mdgrey1: #a2c0dc;
  --mdgrey2: #95a0a5;
  --darkgrey1: #1c1e1f;
  --primary1: #2874ae;
  --primary2: #1666a2;
  --primarylight1: #3daafd;
}

.theme__medium {
  --white1: #c7ffff;
  --white2: #c7ffff;
  --black0: #0f1112;
  --black1: #1e2326;
  --black2: #2a3033;
  --mdgrey1: #a2c0dc;
  --mdgrey2: #95a0a5;
  --darkgrey1: #1c1e1f;
  --primary1: #76feff;
  --primary2: #00C3C3;
  --primarylight1: #25FFFF;
}

.theme__light {
  --white1: #3c4043;
  --white2: #3c4043;
  --black0: #bfd0df;
  --black1: #d3dbe3;
  --black2: #b6d3ed;
  --mdgrey1: #3c4043;
  --mdgrey2: #3c4043;
  --darkgrey1: #3c4043;
  --primary1: #5693e8;
  --primary2: #5693e8;
  --primarylight1: #3c4043;
}

/* Reset
====================*/
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
form,
input,
textarea,
p,
th,
td {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: var(--secondaryFont);
  font-weight: 400;
}

body {
  background: var(--black1);
  color: var(--white1);
  line-height: inherit;
  overflow: hidden;
  height: 100vh;

}

button,
select {
  text-transform: none;
  border: none;
  outline: none;
  background: none;
  color: var(--white1);
}

button:focus-visible,
select:focus-visible {
  transition: 150ms ease-out;
}

textarea:focus {
  outline: none;
  border-color: var(--mdgrey2);
}

textarea::-webkit-scrollbar-thumb {
  border: 4px solid var(--black1);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--mdgrey2);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr {
  height: 72px;
  border-bottom: 1px solid var(--mdgrey2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

tr:last-child {
  border-bottom: 1px solid transparent;
}

th {
  font-weight: 700;
  font-size: 16px;
  background: var(--black2);
  color: var(--white1);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid var(--mdgrey2);
  border-left: none;
  border-top: none;
  width: 100%;
  height: 72px;
  line-height: 72px;
  margin-top: auto;
  padding-left: 8px;
}

td {
  border-right: 1px solid var(--mdgrey2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

th {
  text-align: left;
}

ul {
  list-style: none;
}

a {
  outline: 0;
  color: var(--primarylight1);
}

a img,
:link img,
:visited img,
fieldset {
  border: none
}

/* use for focusable elements that are not currently on screen */
/* pair with aria-disabled=true */
[disabled] {
  display: none !important;
}

/* svg size really depends on the project but usually dimensions will be global */
svg {
  user-select: none;
  pointer-events: none;
  height: 20px;
  width: 20px;
  fill: var(--mdgrey1);
}

/* scrollbar
====================*/
::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollerThumbBackground);
  border: var(--scrollerThumbBorder);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollerThumbBackgroundHover);
}

::-webkit-scrollbar-track {
  background: transparent;
}


/* resusable classes
==================================================== */
/* flex
====================*/
.flx-center-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-center-x {
  display: flex;
  justify-content: center;
}

/* alignment
====================*/
.center-text {
  text-align: center;
}

.center-el {
  margin: 0 auto;
}

/* pad/margin
====================*/
.padding-sm {
  padding: 4px;
}

.margin-t {
  margin-top: 4px;
}

/* Buttons / Select
====================*/
.btn-primary,
.select-primary,
.btn-dark,
.select-dark,
.input-dark {
  color: var(--white1);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
  transition: all 150ms ease-in-out;
}

.btn-primary,
.select-primary {
  background: var(--primary1);
  border: 1px solid var(--black2);
}

.btn-dark,
.select-dark,
.input-dark {
  background: var(--black1);
  border: 1px solid var(--black2);
}

.btn-primary:hover,
.select-primary:hover {
  background: var(--primary1);
  border: 1px solid var(--primarylight1);
}

.btn-dark:hover,
.select-dark:hover {
  background: var(--black0);
  border: 1px solid var(--primary1);
}

/* <button>  >>  <svg> */
.btn-svgpair {
  width: 36px;
  height: 36px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease;
}

.btn-svgpair:focus-visible {
  background: var(--black2);
}

.btn-svgpair:focus-visible svg {
  fill: var(--primarylight1);
}

.btn-svgpair:hover {
  background: var(--black2);
}

/* Textarea
====================*/
/* make resizer grey and solid */
.resizer-1::-webkit-resizer {
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--mdgrey2) var(--mdgrey2) transparent;
}

/* Overlay
====================*/
.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

/* Testing
====================*/
.debug {
  border: 1px solid red;
}